html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.nav-link,
.navbar-brand,
.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

a {
  text-decoration: none;
}

/*  button styles */
.btn-primary {
  background-color: #ff2800;
  border: solid;
  border-color: #ff2800;
  border-radius: 0;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #ff2800 !important;
  outline: none !important;
  border-color: #ff2800;
  border-radius: 0;
  box-shadow: none !important;
}

.btn-primary:hover {
  background: none;
  border: solid;
  border-radius: 2px;
  border-color: #ff2800;
}

/* svg for the pricing section */

.custom-shape-divider-top-1711950954 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1711950954 svg {
  position: relative;
  display: block;
  width: calc(100%);
  height: 50px;
}

.custom-shape-divider-top-1711950954 .shape-fill {
  fill: #000000;
}

.custom-shape-divider-bottom-1711951210 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711951210 svg {
  position: relative;
  display: block;
  width: calc(100%);
  height: 50px;
}

.custom-shape-divider-bottom-1711951210 .shape-fill {
  fill: #000000;
}

/* Main Navigation Bar Styles */
.navbar {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #fff;
}

.navbar-toggler {
  border: none;
  background: none;
}

/* Hamburger Bars */
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler-icon.active {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7l22 22M4 29L26 7'/%3E%3C/svg%3E");
}

.btn-outline-light {
  color: #fff;
  border-color: #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #000;
}

#top-bar {
  background-color: #ff2800;
  color: #fff;
}

@media (max-width: 991px) {
  #top-bar {
    position: fixed;
    z-index: 10;
  }

  .navbar-toggler {
    position: absolute;
    right: 1rem;
  }
  .navbar {
    top: 40px;
  }
}
/* end of header edits */

/* start of Hero */
#hero-section h1,
#hero-section p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#hero-section {
  height: 100vh;
  position: relative;
}

#heroCarousel {
  position: absolute;
  width: 100%;
  height: 100%;
}

#heroCarousel .carousel-item {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 6%,
      rgba(0, 0, 0, 0.8) 30%,
      rgba(0, 0, 0, 0.4) 60%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 6%,
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0) 50%
    );
  z-index: 1;
}

.hero-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
/* end of Hero section */

/* Start of services */
#services-offered {
  min-height: 100vh;
}

.service-box {
  position: relative;
  height: 50vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.overlay-boxes {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
  z-index: 1;
}

.text-and-button h3 {
  font-size: 3em;
  margin-top: 20%;
  text-align: center;
}

.text-and-button a.btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.text-and-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 2;
}

.service-box:hover .overlay-boxes {
  background-color: rgba(255, 40, 0, 0.5);
}

.service-box:hover img {
  transform: scale(1.05);
}
/* end of service section */

/* Start of Price section */

#price-breakdown .row {
  margin: 0;
}

#price-breakdown {
  color: black;
}

.price-container {
  padding: 10rem 0;
}

@media (max-width: 768px) {
  .price-container {
    padding: 5rem 0;
  }
}

/* end of price section */

/* start of footer section */
footer {
  padding-top: 25px;
}

footer a {
  text-decoration: none;
}
